<!DOCTYPE html>
<html lang="en">

<head>
  
        <link   rel="stylesheet"  href="myprofile.css">



    <title>The Meme Store</title>
</head>

<body>
 <!-- For demo purpose -->
<div class="row">
    <div class="col-lg-7 mx-auto text-white text-center pt-5">
        <h1 class="display-4">My PROFILE PAGE</h1>
    </div>
</div><!-- End -->


<div class="row py-5 px-4">
    <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">

        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 bg-dark">
                <div class="media align-items-end profile-header">
                    <div class="profile mr-3"><a href="/edit" class="btn btn-dark btn-sm btn-block">Edit profile</a></div>
					<button type="submit" class="btn btn-dark btn-sm glyphicon glyphicon-open "><a href="/upload_meme">Create Here</a></button>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-5" style="text-align:left;">Welcome
							{{data.username}}</h4>
                        <br>
                    </div>
                </div>
            </div>
			<br>
            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Last Meme Uploaded</h5><a href="#" class="btn btn-link text-muted">Show all</a>
                </div>
                <div class="row d-flex" style="overflow:auto;">
                	
					<div class="col-lg-6 mb-2 pr-lg-1"><img src="{{data.imageurl}}" alt="" class="img-fluid rounded shadow-sm"></div>
					  </div>
                <div class="py-4">
                   <a href="/logout" class="btn btn-dark btn-sm btn-block">Logout</a>
                </div>
            </div>
        </div>

    </div>
</div>


</body>
  

</html>
 














