
  

.profile-header {
  transform: translateY(5rem);
}

body {
  background: #654ea3;
  background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);
  background: linear-gradient(to right,  red, #5f1782);
  min-height: 100vh;
}

.edit{
  left: 20px;
  float: right;
}

